@import "tailwindcss";

@theme {
    --color-Backgrounds01: #0b0011;
    --color-Backgrounds02: #100018;
    --color-Titulos: #b5ccf8;
    --color-Subtitulos: #d8dee9;
    --color-DetalhesVerde: #93ed7e;
    --color-DetalhesLaranja: #df9446;
}