@import "tailwindcss";

@theme {
    --color-Backgrounds01: #000309;
    --color-Backgrounds02: #00050e;
    --color-Titulos: #b5ccf8;
    --color-Subtitulos: #eceef4;
    --color-DetalhesVerde: #93ed7e;
    --color-DetalhesLaranja: #df9446;
}